<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  You can contact us through email : superpotato@163.com <br>
  Or you can also give us a call. The call service will be 7/24. <br>
  <font color="red">010-9937-8111</font>
</p>